In [59]:
import pandas as pd
import numpy as np
import scipy as stats

df = pd.read_csv('/Users/imee/Downloads/sa1_data.csv')
df

   M1  M2  M3  M4  M5  F1  F2  F3  F4  F5
0  12   4  11  13  11  11   9   7  10   9
1   7   9  10  10   7  10  10   7   9  10
2   7  12   6   9  15  11   8   9   6  11
3  10  11  12   7   8  10   7   9  12  14
4   8   9  11  10   9  11  12  12   8  12
5  10   9   9   7   9  12   9  10  11   7
6  11   7  10  10  11  12   7   9   8  11
7   9  12  12   8  13  10   8  13   8  10
8   9  10   8  11  10   9   9   9  11   9
9  13  13   9  10  13   9   8   9  12  11

In [43]:
flat_df = pd.DataFrame(df.values.ravel(), columns=["All_Data"])
flat_df

    All_Data
0         12
1          4
2         11
3         13
4         11
..       ...
95         9
96         8
97         9
98        12
99        11

[100 rows x 1 columns]

### I. 1.

In [54]:
desc = flat_df.describe()
median = flat_df.median()
mode = flat_df.mode().iloc[0]  
skew = flat_df.skew()
kurt = flat_df.kurt()
var = flat_df.var()

desc.loc["median"] = median
desc.loc["mode"] = mode
desc.loc["skewness"] = skew
desc.loc["kurtosis"] = kurt
desc.loc["variance"] = var

order = ["mean", "median", "mode", "std", "variance", "min", "25%", "50%", "75%", "max", "count", "skewness", "kurtosis"]
desc = desc.reindex(order)

print(desc)

            All_Data
mean        9.760000
median     10.000000
mode        9.000000
std         1.964945
variance    3.861010
min         4.000000
25%         9.000000
50%        10.000000
75%        11.000000
max        15.000000
count     100.000000
skewness   -0.007343
kurtosis    0.015803

### I. 2. (male)

In [51]:
male_column = df[["M1", "M2", "M3", "M4", "M5"]]
male_df = pd.DataFrame(male_column.values.ravel(), columns=["M"])
male_df.head()

    M
0  12
1   4
2  11
3  13
4  11

In [53]:
male_desc = male_df.describe()
male_median = male_df.median()
male_mode = male_df.mode().iloc[0]
male_skew = male_df.skew()
male_kurt = male_df.kurt()
male_var = male_df.var()

male_desc.loc["median"] = male_median
male_desc.loc["mode"] = male_mode
male_desc.loc["variance"] = male_var
male_desc.loc["skewness"] = male_skew
male_desc.loc["kurtosis"] = male_kurt

order = ["mean", "median", "mode", "std", "variance", "min", "25%", "50%", "75%", "max", "count", "skewness", "kurtosis"]
male_desc = male_desc.reindex(order)

print(male_desc)

                  M
mean       9.820000
median    10.000000
mode       9.000000
std        2.154161
variance   4.640408
min        4.000000
25%        9.000000
50%       10.000000
75%       11.000000
max       15.000000
count     50.000000
skewness  -0.114676
kurtosis   0.177262

### I. 2. (female)

In [55]:
female_column = df[["F1", "F2", "F3", "F4", "F5"]]
female_df = pd.DataFrame(female_column.values.ravel(), columns=["F"])
female_df.head()

    F
0  11
1   9
2   7
3  10
4   9

In [56]:
female_desc = female_df.describe()
female_median = female_df.median()
female_mode = female_df.mode().iloc[0]
female_skew = female_df.skew()
female_kurt = female_df.kurt()
female_var = female_df.var()

female_desc.loc["median"] = female_median
female_desc.loc["mode"] = female_mode
female_desc.loc["variance"] = female_var
female_desc.loc["skewness"] = female_skew
female_desc.loc["kurtosis"] = female_kurt

order = ["mean", "median", "mode", "std", "variance", "min", "25%", "50%", "75%", "max", "count", "skewness", "kurtosis"]
female_desc = female_desc.reindex(order)

print(female_desc)

                  F
mean       9.700000
median     9.500000
mode       9.000000
std        1.775686
variance   3.153061
min        6.000000
25%        9.000000
50%        9.500000
75%       11.000000
max       14.000000
count     50.000000
skewness   0.134412
kurtosis  -0.441792

### I. 3.

In [71]:
summary_df = pd.concat(
    [desc, male_desc, female_desc],
    axis=1
)
print(summary_df)

            All_Data          M          F
mean        9.760000   9.820000   9.700000
median     10.000000  10.000000   9.500000
mode        9.000000   9.000000   9.000000
std         1.964945   2.154161   1.775686
variance    3.861010   4.640408   3.153061
min         4.000000   4.000000   6.000000
25%         9.000000   9.000000   9.000000
50%        10.000000  10.000000   9.500000
75%        11.000000  11.000000  11.000000
max        15.000000  15.000000  14.000000
count     100.000000  50.000000  50.000000
skewness   -0.007343  -0.114676   0.134412
kurtosis    0.015803   0.177262  -0.441792

Given the obtained descriptive statistic, the central tendencies of both male and female datasets have no significant difference as the mean, median and mode are near if not equal. The male dataset has shown to be more spread out while the female one shows a slight lean towards the right. 

The combined dataset showed have also reflected similar central tendencies and have averaged out the spread and the skewness. 
Overall there is no significant difference in the average hours talking on the cellphone of both genders.

### II. 1.

In [58]:
sample = [2, 3 ,7, 8 ,10]


def moment0(series, r):
    n = len(series)
    return sum([x**r for x in series]) / n

moments0 = [moment0(sample, r) for r in range(1, 5)]

moments_df_zero = pd.DataFrame(moments0, index=["1st Moment", "2nd Moment", "3rd Moment", "4th Moment"])
print(moments_df_zero)

                 0
1st Moment     6.0
2nd Moment    45.2
3rd Moment   378.0
4th Moment  3318.8

### II. 2.

In [61]:
def moment_mean (series, r):
    n = len(series)
    return sum([(x - np.mean(series))**r for x in series]) / n

moments_mean = [moment_mean(sample, r) for r in range (1, 5)]

moments_df_mean = pd.DataFrame(moments_mean, index=["1st Moment", "2nd Moment", "3rd Moment", "4th Moment"])
print(moments_df_mean)

                0
1st Moment    0.0
2nd Moment    9.2
3rd Moment   -3.6
4th Moment  122.0

### II. 3.

In [69]:
m1p = moments_df_zero.loc["1st Moment", 0]
m2p = moments_df_zero.loc["2nd Moment", 0]
m3p = moments_df_zero.loc["3rd Moment", 0]
m4p = moments_df_zero.loc["4th Moment", 0]

m2 = moments_df_mean.loc["2nd Moment", 0]
m3 = moments_df_mean.loc["3rd Moment", 0]
m4 = moments_df_mean.loc["4th Moment", 0]

m4_check = m4p - 4*m1p*m3p + 6*(m1p**2)*m2p - 3*(m1p**4)

verify_df = pd.DataFrame({
    "Retrieved Moment from II. 2.": [m4],
    "Calculated Values": [m4_check]
}, index=["4th Moment"])

print(verify_df)

            Retrieved Moment from II. 2.  Calculated Values
4th Moment                         122.0              122.0

### III

Given:
$ m'_4 = m_4 + 4h m_3 + 6h^2 m_2 + h^4, \quad \text{where } h = m'_1 = \mu. $



$ m'_r = E[x^r]. $

We can express $ x $ as $ (x - \mu) + \mu $, where $ \mu = E[x] = m'_1. $

Expanding using the binomial theorem:  
$$
(X - \mu + \mu)^r = \sum_{k=0}^{r} \binom{r}{k} \mu^{r-k}(X - \mu)^k
$$

Taking expectations of both sides:  
$$
m'_r = \sum_{k=0}^{r} \binom{r}{k} \mu^{r-k} E[(X - \mu)^k]
$$

By definition, $ E[(x - \mu)^k] = m_k $, the $k$th central moment.  
Hence,  
$$
m'_r = \sum_{k=0}^{r} \binom{r}{k} \mu^{r-k} m_k
$$

Now, for $ r = 4 $:  
$$
\begin{aligned}
m'_4 &= \binom{4}{0}\mu^4 m_0 + \binom{4}{1}\mu^3 m_1 + \binom{4}{2}\mu^2 m_2 + \binom{4}{3}\mu m_3 + \binom{4}{4}m_4 \\
&= (1)\mu^4(1) + 4\mu^3(0) + 6\mu^2 m_2 + 4\mu m_3 + m_4 \\
&= m_4 + 4\mu m_3 + 6\mu^2 m_2 + \mu^4
\end{aligned}
$$

Since $ h = \mu = m'_1 $, it follows that  
$$
m'_4 = m_4 + 4h m_3 + 6h^2 m_2 + h^4
$$

∎